
@{
    ViewBag.Title = "StorePromotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->

        <div class="row">
            
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Buy Any Get Any Promotion
                        </header>
                        <div class="panel-body">
                            <form role="form">
                                <div class="col-lg-6">
                                    <header class="panel-heading">
                                        Buy
                                    </header>
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg m-bot15" id="exampleInputEmail1" placeholder="Quantity">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg m-bot15" id="exampleInputPassword1" placeholder="Item">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <header class="panel-heading">
                                        Get
                                    </header>
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg m-bot15" id="exampleInputEmail1" placeholder="Quantity">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg m-bot15" id="exampleInputPassword1" placeholder="Item">
                                    </div>
                                    </div>
                                                  <button type="submit" class="btn btn-shadow btn-primary pull-right"><i class="fa fa-plus"></i> Add Brand</button>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Total Purchase Discount Promotion
                        </header>
                        <div class="panel-body">
                            <form role="form">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg m-bot15" id="exampleInputEmail1" placeholder="Enter Total Amount">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg m-bot15" id="exampleInputPassword1" placeholder="Enter Discount Percentage">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-shadow btn-primary pull-right"><i class="fa fa-plus"></i> Add Category</button>
                            </form>
                        </div>
                    </section>
                </div>
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Item Discount Promotion
                        </header>
                        <div class="panel-body">
                            <form role="form">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg m-bot15" id="exampleInputEmail1" placeholder="Enter Item">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg m-bot15" id="exampleInputPassword1" placeholder="Enter Discount Percentage">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-shadow btn-primary pull-right"><i class="fa fa-plus"></i> Add Category</button>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Get Third Party Promotion
                        </header>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <select class="form-control input-lg m-bot15">
                                        <option value="">Brand Name</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Promotion Image</label>
                                    <input type="file" id="exampleInputFile">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                                <button type="submit" class="btn btn-shadow btn-primary pull-right"><i class="fa fa-plus"></i> Add Sub Category</button>
                            </form>
                        </div>
                    </section>
                </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

